@import "tailwindcss";

.bg-flex{
    background-color: #FFFDF6;
}

.bg-card{
    background-color: #F1F3EE;
}


.bg-green-flex {
    background-color: #284E4C !important;
}


.bg-beige-flex{
    background-color: #FFF9E9 !important;
}
